/*                                           Top menu                                     */
.top_menu li{
    display: inline-block;
    text-decoration: none;
}

.top_menu li span{
  color: grey;
}

.top_menu li span {
  padding: 0 10px;
  margin-right: 40px;
}

.top_menu li span:hover {
  color: orange;
}

.top_menu{
  text-align: center;
  padding-bottom: 10px;
}

/* header */
.header_logo {
  float: left;
}
.header_menu{
  float: left;
  margin-left: 500px;
  margin-top: 20px;
}
/*  backgroud mờ */

.header_logo a  img{
    width: 150px;
    height: 50px;
}

.header_menu li  {
  display: inline-block;
  }

.header_menu li a {
    padding: 0 10px;
    margin-right: 10px;
  }

  .header_menu li a:hover {
    color: orange;
  }
  
 header {
    background-color: #f5f5f5; /* Màu nền cho container */
    opacity: 0.8; /* Độ mờ mờ của background */

  }
/* kéo vẫn hiện trên top */
  header {
    position: fixed;
    margin-top: 31px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9999;

  }

  /* nav */
  .container .banner{
    height: 500px;
    width: 100%;
  }
.banner a img{
  height: 500px;
  width: 100%;
}
